{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/app.css') }}">
{% endblock %}


{% block body %}
<style>

</style>

<div class="container-standard no-pad">
<section class="hero-section">
    <div class="hero-wrapper">
        <h1>Bienvenue sur Snowtricks</h1>
        <p class="main-text">Le site référence de figure snowboard</p>
    </div>
</section>
<section class="section">
    <div class="grid-5">
        {% for trick in tricks %}
        <div class="trick-wrapper">
            {{trick.name}}
        </div>
        {% endfor %}
    </div>
</section>
</div>
{% endblock %}
