$white: #FDF7FA;
$black: black;
$blue: #083344;
$montserrat: "Montserrat", sans-serif;
$roboto :"Roboto", sans-serif;

p {
    margin: 0;
}

.heading-1 {
    font-family: $roboto;
    text-transform: uppercase;
    font-size: clamp(2.25rem, 1.917rem + 1.481vw, 3.25rem);
    color: white;

    &.black {
        color: black
    }
}

body {
    background-color: $white;
    font-family: $montserrat;
    font-weight: 400;
    font-size: 1.125rem;
}

.container-standard {
    margin-left: auto;
    margin-right: auto;
    padding-right: 70px;
    padding-left: 70px;
    max-width: 1440px;
}

.no-pad {
    padding-left: 0;
    padding-right: 0;
}

.navbar-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navmenu-wrapper {
    display: flex;
    gap: 32px;
    a {
        font-size: 1rem;
        font-weight: 600;
        text-transform: uppercase;
        color: $black;
        text-decoration: none;
        padding: 5px;
    }
}

.hero-section {
    padding-top: 25svh;
    padding-bottom: 25svh;
    border-radius: 0px 0px 8px 8px;
    background-size: cover;
}

.hero-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.grid-5 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 16px;
  }
  
.trick-card {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    border: 1px solid $blue;

    .trick-card-image {
        overflow: none;
        height: 200px;
        border-bottom: 0.5px solid $blue;
        overflow: none;
        background-size: cover;

    }

    .trick-card-info {
        padding: 16px;
        display: flex;
        flex-direction: column;
        gap: 4px;

        .trick-link {
            padding: 4px;
            text-transform: uppercase;   
            font-weight: 600;
        }

        .trick-card-icon-wrapper {
            display: flex;
            justify-content: space-between;
            gap: 4px;

            a {
                display: flex;
                font-size: 12px;
                justify-content: center;
                align-items: center;
                padding:4px;
                border-radius: 4px
            }

            .trick-card-edit {
                color: green;
                border: 0.5px solid green;
            }

            .trick-card-delete {
                color: red;
                border: 0.5px solid red;
            }
        }
    }
}

.main-text {
    color: black;
    &.white {
        color: white
    }
}

.trick-media-section {
    margin-top: 80px;
    margin-bottom: 80px;

    .trick-media-wrapper {
        display: flex;
        justify-content: center;
        gap: 32px;
        
        .trick-media-image {
            height: 200px;
            object-fit: cover;
            border-radius: 8px
        }
    }
}

.trick-desc-section {
    margin-top: 80px;
    margin-bottom: 80px;    
}

.tricks-section {
    margin-top: 160px;
    margin-bottom: 80px; 
}