{% block header %}
    <header>
        <div class="container-standard">
            <div class="navbar-wrapper">
                <p>snowtricks</p>
                <div class="navmenu-wrapper">
                    <a href="/">Accueil</a>
                    <a href="/tricks">Tricks</a>
                    <a href="/connexion">Connexion</a>
                    <a href="/inscription">Inscription</a>
                </div>
            </div>
        </div>
    </header>
{% endblock %}
