{% block header %}
    <!-- MENU DESKTOP -->
<div class="bg-cyan-950 fixed top-0 w-full z-10 sm:block hidden">
    <div class="flex align-middle justify-between p-4 container mx-auto">
        <a href="/" class="text-white text-xl uppercase" style="font-family: 'Tiny5', sans-serif;">
            snowtricks
        </a>

            <nav class="flex gap-4 text-white font-bold">
                <a href="/">Accueil</a>
                {% if app.user %}
                    <a href="/admin/trick/new">Tricks</a>
                    <a href="{{ path('app_logout') }}">Déconnexion</a>
                {% endif %}
                {% if not app.user %}
                <a href="/inscription">Inscription</a>
                <a href="/connexion">Connexion</a>
                {% endif %}
            </nav>

    </div>

</div>

<script>
document.addEventListener('DOMContentLoaded', function () {
    // Sélectionner le bouton et le menu
    var menuButton = document.getElementById('navbar-open');
    var menu = document.querySelector('.navbar-menu');
    
    // Ajouter un événement de clic au bouton pour ouvrir/fermer le menu
    menuButton.addEventListener('click', function () {
        menu.classList.toggle('open');
    });

    // Sélectionner tous les éléments avec la classe 'main'
    var mainElements = document.querySelectorAll('.main');

    // Ajouter un événement de clic à chaque élément avec la classe 'main'
    mainElements.forEach(function(element) {
        element.addEventListener('click', function () {
            menu.classList.remove('open');
        });
    });
});
</script>

<!-- MENU MOBILE -->
<div class=" fixed top-0 w-full z-10 sm:hidden block">
    <div class="flex items-center justify-between  container mx-auto p-4 bg-cyan-950">
        <a href="/" class="text-white text-xl uppercase" style="font-family: 'Tiny5', sans-serif;">
            snowtricks
        </a>

        <div class="" id="navbar-open">
			<button class="navbar-burger flex items-center text-white p-3">
				<svg class="block h-4 w-4 fill-current" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
					<title>Mobile menu</title>
					<path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path>
				</svg>
			</button>
		</div>
        
    </div>
    <div class="navbar-menu absolute bottom-0 w-full bg-cyan-950 z-[-1]">
        <nav class="flex flex-col items-end gap-4 text-white font-bold p-4" >
            <a href="/?action=home">Accueil</a>
            <a href="/?action=blog">Blog</a>

                <a href="/?action=connexion">Connexion</a>
                <a href="/?action=inscription">Inscription</a>


                <a href="?action=logout" class="mt-4 p-2 rounded-md bg-cyan-600">Déconnexion</a>

        </nav>

    </div>
</div>
{% endblock %}
